<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuanqi.mapper.SeckillResultMapper">

    <insert id="saveSeckillResult" parameterType="com.yuanqi.entity.SeckillResult" keyProperty="id">
        insert into seckillresult(userId, productId, seckillId, result, resultData, seckillTime)
        values(#{userId}, #{productId}, #{seckillId}, #{result}, #{resultData}, #{seckillTime})
    </insert>

</mapper>