<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品查看页面</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>商品标题</td>
            <td>商品名称</td>
            <td>商品价格</td>
            <td>商品优惠价格</td>
            <td>商品创建的时间</td>
            <td>审核通过的时间</td>
            <td>操作</td>
        </tr>
        <tr th:each="entity:${products}">
            <td><span th:text="${entity.productTitle}"/> </td>
            <td><span th:text="${entity.productName}"/> </td>
            <td><span th:text="${entity.productPrice}"/> </td>
            <td><span th:text="${entity.productDiscounts}"/> </td>
            <td><span th:text="${entity.createTime}"/> </td>
            <td><span th:text="${entity.approveTime}"/> </td>
            <td>
                <a th:href="@{/seckill/preSaveSeckillProduct(id=${entity.id})}">发布秒杀商品</a>
            </td>
        </tr>
    </table>

</body>
</html>